@tailwind base;
@tailwind components;
@tailwind utilities;

.delete-modal {
  padding: 2rem;
  border-radius: 12px;
  min-width: 400px;
  min-height: 170px;
}

.creating-modal {
  padding: 2rem;
  border-radius: 12px;
  min-width: 700px;
  min-height: 500px;
}

.updating-modal {
  padding: 2rem;
  border-radius: 12px;
  min-width: 700px;
  min-height: 300px;
}
